/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --color-orange-700: #de3618;
  --color-orange-600: #fc5858;
  --color-orange-500: #f25e57;
  --color-orange-400: #ff755c;
  --color-orange-300: #ff9f8e;
  --color-orange-100: #ffcbcb;

  --color-slate-900: #161d25;
  --color-slate-800: #222f5d;
  --color-slate-200: #e2e2e2;
  --color-slate-700: #606060;

  --color-stone-100: #f4f4f4;
  --color-stone-50: #fdfdfd;

  --color-gray-300: #afafaf;
  --color-gray-200: #ebebeb;

  --color-purple-500: #8750fb;
  --color-yellow-500: #ffde74;

  --text-color: #222f5d;
  --body-color: #e5e5e5;

  /*========== Font and typography ==========*/
  --body-font: "iranYekan", sans-serif;
  --biggest-font-size: 2.8rem;
  --h1-font-size: 2.6rem;
  --h2-font-size: 2.4rem;
  --h3-font-size: 2.2rem;
  --normal-font-size: 2rem;
  --small-font-size: 1.8rem;
  --smaller-font-size: 1.4rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;

  --container-padding: 1rem;
}

/* Responsive typography */
@media screen and (min-width: 992px) {
  :root {
    --biggest-font-size: 3.8rem;
    --h1-font-size: 3.4rem;
    --h2-font-size: 3.2rem;
    --h3-font-size: 3rem;
    --normal-font-size: 2.6rem;
    --small-font-size: 2rem;
    --smaller-font-size: 1.8rem;

    --container-margin: 2rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  direction: rtl;
  scroll-behavior: smooth;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: var(--body-font) !important;
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  min-height:100vh;
  line-height:1.5;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

button,
input {
  border: none;
}

button {
  cursor: pointer;
}

/*=============== REUSABLE CSS CLASSES ===============*/

/*=============== LAYOUT ===============*/
.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: var(--container-padding);
  background-color: cadetblue;
}

/*===============  BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */
