/*=============== IMPORTS ===============*/
@import url("reset.css");
@import url("fonts.css");

/* LAYOUT */
@import url("layout/header.css");
@import url("layout/filter.css");
@import url("layout/products.css");

/* For large devices */
@media screen and (min-width: 1024px) {
  #main {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: auto 1fr;
    gap: 15px;
  }
}
