/* MOBILE FILTER */
.filter__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.filter__desktop {
  display: none;
}

/* For small devices */
@media screen and (max-width: 424px) {
  .filter__mobile {
    flex-wrap: wrap;
  }
}

/* For medium devices */

/* For large devices */
@media screen and (min-width: 1024px) {
  .filter__mobile {
    display: none;
  }

  /* DESKTOP FILTER */
  .filter__desktop {
    display: block;
  }

  .filter__sort {
    background-color: var(--color-stone-50);
    border-radius: 5px;
    display: flex;
    gap: 0 20px;
    align-items: center;
    padding: 5px;
    order: 1;
    height: max-content;
  }

  .filter-sort__icon {
    background-color: var(--color-orange-100);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border-radius: 3px;
    width: 42px;
    height: 42px;
  }

  .filter-sort__menu {
    display: flex;
    align-items: center;
    gap: 0 18px;
  }

  .filter-sort__item {
    font-size: var(--smaller-font-size);
    color: var(--color-gray-300);
    cursor: pointer;
  }

  .filter-sort__item.active {
    color: var(--color-text) !important;
  }

  .filter-sidebar{
    grid-row: span 2;
  }

  .filter-sidebar__options {
    background-color: var(--color-stone-50);
    padding: 30px; 
    border-radius: 12px;
  }

  .filter-sidebar__title {
    font-size: var(--small-font-size);
    color: var(--color-orange-400);
  }

  .filter-sidebar__group {
    padding: 21px 3px 15px;
  }

  .filter-sidebar__item {
    font-size: var(--smaller-font-size);
    display: flex;
    align-items: center;
    gap: 0 8px;
    margin-bottom: 20px;
    position: relative;
    transition: color ease-in 0.2s;
    cursor: pointer;
  }

  .filter-sidebar__item::before {
    content: "";
    background-color: var(--color-gray-300);
    opacity: 0.4;
    width: 19px;
    height: 19px;
    position: absolute;
    border-radius: 100%;
    top: -4px;
    right: -5px;
  }

  .filter-sidebar__item:hover {
    color: var(--color-orange-400);
  }

  .filter-sidebar__icon {
    z-index: 10;
  }

  .filter-sidebar__banner{
    margin-top: 15px;
  }
}
